<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Commission Request was Accepted by the Artist</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      background-color: #f4f4f4;
      padding: 20px;
      max-width: 600px;
      margin: 0 auto;
    }
    h1 {
      color: #333;
      font-size: 28px;
      margin-bottom: 20px;
    }
    p {
      color: #333;
      font-size: 16px;
      line-height: 1.6;
      margin-top: 10px;
    }
    .signature {
      color: #D8C1A9;
      font-weight: bold;
    }
  </style>
</head>
<body>
<div class="container">
    <h1>Your Commission Request was Accepted by the Artist</h1>
    <p>Your commission request has been accepted by the artist. Please check the details below:</p>
    <p><strong>Commission Type:</strong> <%= @commission.commission_type.title %></p>
    <p><strong>Price:</strong> PHP<%= (@commission.price) %></p>
    <p><strong>Description:</strong> <%= @commission.description %></p>
    <p><strong>Status:</strong> <%= @commission.stage %></p>
    <p>If you have any questions or need further information, please don't hesitate to reach out to us via this email address. We are here to assist you throughout the process. 🤝</p>
    <p class="signature">Best regards, <br>The Project:CAMAY Team</p>
  </div>
</body>
</html>
